/*Custom Fonts:
font-family: 'Quicksand', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
*/

/*Custom Colors:
gray = #556270
teal = #4ECDC4
green = #C7F464
pink = #FF6B6B
red = #C44D58
*/
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  background-color: #556270;
  color: #4ECDC4;
}

#container {
  max-width: 960px;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

h2 {
  font-weight: 700;
  color: #C7F464;
}

span {
  color: #FF6B6B;
}

p {
}

canvas {
  background-color: #fff;
}

.canvas-container {

}
